*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("img1.png");
	background-size: 1450px 800px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #FFF;
	background: #19284C;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.nombre-empresa{
	display: flex;

}
.options-salir{
    display: flex;
    justify-content: center;
    align-items: center;
}
.salir {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}

.salir:hover{
	background-color: #008;
}
.close{
	width: 25px;
    height: 25px;
}
.options-salir a {
    display: flex;
    margin-left: 30px;
}
nav ul{
	background: rgb(59, 59, 73);
	list-style: none;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'GothamBook';
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: .5s;
	border-right: 1px solid #19284C;
}
nav .principal > a{
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	background: #19284C;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	background: #008;
}

nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
	padding: 90px 15px 15px;
}

.container-div{
	margin-top: 20px;
}

.salon{
	width: 200px;
}
.bomba{
	width: 200px;
}
.antena{
	width: 300px;
}
.pago{
	width: 195px;
}

.form_register{
	width: 450px;
	margin: auto;
	color: #003;

}

.form_register h1{
	color: #fff;
	text-align: center;
	font-family: 'GothamBook';

}

hr{
	border: 0;
	background: #CCC;
	height: 1px;
	margin: 10px 0;
	display: block;
}

form{
	background: #FFF;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid #d1d1d1;
}

label{
	display: block;
	font-size: 12pt;
	font-family: 'GothamBook';
	margin: 15px auto 5px auto;
}

input{
	display: block;
	width: 100%;
	font-size: 11pt;
	padding: 5px;
	border: 1px solid #85929e;
	border-radius: 5px;

}

.btn_save{
	font-size: 12pt;
	background: #19284C;
	padding: 10px;
	color: #FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	margin: 15px auto;
	margin-left: 130px
}
